<div class="container">
  <div class="form-group">
    <h1 class="text-center text-primary">Todo App</h1>
    <ul>
      <li *ngFor="let task of taskList">
        {{ task }}
        <button (click)="deleteTask(task)">delete</button>
      </li>
    </ul>
    <div class="input-group-prepend">
      <input
        [(ngModel)]="inputText"
        placeholder="Add
        task..."
      />
      <p>{{ inputText }}</p>
      <button class="input-group-text" (click)="addTask(inputText)">
        Add
      </button>
    </div>
  </div>
</div>

<!-- these are bootstrap classes -->
