<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <!-- these icons come from material.io -->
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="posts" [class.activated]="currentUrl == '/posts'">
        <i class="material-icons">message</i>
      </a>
    </li>
    <li>
      <a routerLink="todo" [class.activated]="currentUrl == '/todo'">
        <i class="material-icons">list_alt</i>
      </a>
    </li>
    <li>
      <a routerLink="async" [class.activated]="currentUrl == '/async'">
        <i class="material-icons">videogame_asset</i>
      </a>
    </li>
  </ul>
</nav>
